html, body, #root {
  height: 100%
}

.App {
  text-align: center;
  height: 100%;

  &-logo {
    height: 40vmin;
  }
}

.content {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

