.navbar {
    background-color: #8A2BE2;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-size: 30px;
    color: white;
    padding-left: 30px;
    font-weight: 500;
}

.button-group {
    display: flex;
    flex-direction: row;
}