.nav-button {
    background-color: #8A2BE2;
    color: white;
    border: 0;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
    &__active {
        border-bottom: 2px solid white;
    }
}